
<div class="container mt-5">
    <mat-grid-list cols="2" rowHeight="2:1"gutterSize="20" >
        <mat-grid-tile>
            <img src="../../assets/pexels-blaque-x-863963.jpg" height="100%" width="100%">
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="../../assets/pexels-james-wheeler-1519088.jpg" height="100%" width="100%">
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="../../assets/pexels-matthew-montrone-1324803.jpg" height="100%" width="100%">
        </mat-grid-tile>
        <mat-grid-tile>
            <h1 routerLink="/register" style="cursor: pointer;">Please register</h1>
        </mat-grid-tile>
      </mat-grid-list>

</div>