<div class="container">
    <div class="mb-3">
        <button routerLink="/register" mat-raised-button color="accent">Go to Employee Form</button>
    </div>
    <div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


            <ng-container matColumnDef="employeeId">
                <th mat-header-cell *matHeaderCellDef> Id </th>
                <td mat-cell *matCellDef="let element"> {{element.employeeId}} </td>
            </ng-container>


            <ng-container matColumnDef="employeeName">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.employeeName}} </td>
            </ng-container>


            <ng-container matColumnDef="employeeContactNumber">
                <th mat-header-cell *matHeaderCellDef> Contact Number </th>
                <td mat-cell *matCellDef="let element"> {{element.employeeContactNumber}} </td>
            </ng-container>


            <ng-container matColumnDef="employeeAddress">
                <th mat-header-cell *matHeaderCellDef> Adress </th>
                <td mat-cell *matCellDef="let element"> {{element.employeeAddress}} </td>
            </ng-container>

            <ng-container matColumnDef="employeeGender">
                <th mat-header-cell *matHeaderCellDef> Gender </th>
                <td mat-cell *matCellDef="let element"> {{element.employeeGender}} </td>
            </ng-container>


            <ng-container matColumnDef="employeeSkill">
                <th mat-header-cell *matHeaderCellDef> Skills </th>
                <td mat-cell *matCellDef="let element"> {{element.employeeSkill}} </td>
            </ng-container>


            <ng-container matColumnDef="employeeDepartment">
                <th mat-header-cell *matHeaderCellDef> Department </th>
                <td mat-cell *matCellDef="let element"> {{element.employeeDepartment}} </td>
            </ng-container>

            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef> edit </th>
                <td mat-cell *matCellDef="let element">
                    <button (click)="updateEmployee(element)" mat-icon-button color="primary" data-bs-toggle="modal" data-bs-target="#exampleModal" aria-label="Example icon button with a heart icon">
                        <mat-icon>edit</mat-icon>
                    </button>
                </td>

            </ng-container>

            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef> Delete </th>
                <td mat-cell *matCellDef="let element">
                    <button (click)="deleteEmployee(element.employeeId)" mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>

            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

    <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Update Employee</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form #updateForm="ngForm">
                <mat-form-field appearance="outline">
                    <mat-label>Employee Id</mat-label>
                    <input matInput placeholder="Employee Id" [(ngModel)]="employeeToUpdate.employeeId" name="employeeId">
                    <mat-icon matSuffix>verified_user</mat-icon>
                </mat-form-field>
        
                <mat-form-field appearance="outline">
                    <mat-label>Employee Name</mat-label>
                    <input matInput placeholder="Employee Name" [(ngModel)]="employeeToUpdate.employeeName" name="employeeName">
                    <mat-icon matSuffix>person</mat-icon>
                   
                </mat-form-field>
        
                <mat-form-field appearance="outline">
                    <mat-label>Employee Number</mat-label>
                    <input matInput placeholder="Employee Number" [(ngModel)]="employeeToUpdate.employeeContactNumber" name="employeeContactNumber">
                    <mat-icon matSuffix>call</mat-icon>
                    
                </mat-form-field>
        
                <mat-form-field appearance="outline">
                    <mat-label>Employee Address</mat-label>
                    <input matInput placeholder="Employee Address" [(ngModel)]="employeeToUpdate.employeeAddress" name="employeeAddress">
                    <mat-icon matSuffix>home</mat-icon>
                  
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Department</mat-label>
                    <input matInput placeholder="Employee Name" [(ngModel)]="employeeToUpdate.employeeDepartment" name="employeeDepartment">
                   
                   
                </mat-form-field>
        
                <mat-form-field appearance="outline">
                    <mat-label>Gender</mat-label>
                    <input matInput placeholder="Employee Number" [(ngModel)]="employeeToUpdate.employeeGender" name="employeeGender">
                   
                    
                </mat-form-field>
        
                <mat-form-field appearance="outline">
                    <mat-label>Skills</mat-label>
                    <input matInput placeholder="Employee Address" [(ngModel)]="employeeToUpdate.employeeSkill" name="employeeSkill">
                    
                  
                </mat-form-field>
                </form>
        </div>
        <div class="modal-footer">
          <button (click)="updateSave(employeeToUpdate.employeeId,employeeToUpdate)" type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

</div>